.pageLoading {
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.modal .close {
  border: none;
  background: transparent;
  font-size: 2em;
  color: grey;
}

.modal .close:hover {
  color: black;
}

.modal .close:focus {
  outline: none;
}
