.form-label:after {
  content: "*";
  color: red;
}

.voteButton,
.editButton,
.voteButtonLoading,
.editButtonLoading {
  background-color: #4b8ef1;
  color: #fff;
  border-radius: 10px;
  padding: 2px 10px;
  border: 1px solid #fff;
  outline: none;
}
.voteButton:hover,
.editButton:hover {
  background-color: #fff;
  border: 1px solid #4b8ef1;
  color: #4b8ef1;
}
.voteButton:focus,
.editButton:focus,
.voteButtonLoading:focus,
.editButtonLoading:focus {
  outline: none;
}

.voteButtonDisabled,
.editButtonDisabled {
  background-color: rgb(221, 216, 216);
  border-radius: 10px;
  padding: 2px 10px;
  border: 1px solid #fff;
  outline: none;
}
